
/*  GRID margin   ==================================================================== */
.margin-1{
	margin: 5px;
}
.margin-2{
	margin: 10px;
}
.margin-3{
	margin: 15px;
}
.margin-4{
	margin: 20px;
}
.margin-5{
	margin: 25px;
}
.margin-6{
	margin: 30px;
}
.margin-7{
	margin: 35px;
}
.margin-8{
	margin:40px;
}
.margin-9{
	margin: 45px;
}
.margin-10{
	margin: 50px;
}
.margin-11{
	margin: 55px;
}
.margin-12{
	margin: 60px;
}

@media only screen and (max-width: 480px) {
	.margin-1{
	margin: 0;
}
.margin-2{
	margin: 0;
}
.margin-3{
	margin: 0;
}
.margin-4{
	margin: 0;
}
.margin-5{
	margin: 0;
}
.margin-6{
	margin: 0;
}
.margin-7{
	margin: 0;
}
.margin-8{
	margin: 0;
}
.margin-9{
	margin: 0;
}
.margin-10{
	margin: 0;
}
.margin-11{
	margin: 0;
}
.margin-12{
	margin: 0;
}
}